@CHARSET "ISO-8859-1";
body {
    background:url('http://image.shutterstock.com/z/stock-photo-woman-in-traditional-south-indian-sari-holding-shopping-bags-with-a-credit-card-and-smiling-113760631.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }